
.introduction {
    background-color: #f9f9f9;
    padding: 3rem 0;
    text-align: center;
}

.introduction h2 {
    font-size: 2rem;
}

.introduction p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0.5rem 0;
}
@media screen and (max-width: 642px){
    header {
        margin-top: 60%;
    }
}

@media screen and (max-width:330px){
    header {
        margin-top: 80%;
    }
}

.img2 {
    border-radius: 10px;
}